@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #17171a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.chart {
  background-color: #000;
  color: white;
  border: #363c4e solid 1px;
  box-shadow: 0 0.1rem 0.2rem rgb(0 0 0 / 20%), 0 0.1rem 0.5rem rgb(0 0 0 / 30%),
    0 0.2rem 1.5rem rgb(0 0 0 / 40%);
  cursor: move;
  overflow: hidden;
  border-radius: 10px;
}

.candle {
  stroke-width: 1;
}

.candle.up {
  fill: #81dfc4;
  stroke: #81dfc4;
}

.candle.down {
  fill: #d75b6d;
  stroke: #d75b6d;
}

.wick {
  stroke-width: 1.5;
}

.wick.up {
  stroke: #81dfc4;
}

.wick.down {
  stroke: #d75b6d;
}

.cross_hair {
  stroke: white;
  stroke-opacity: 70%;
  stroke-dasharray: 3;
}

label {
  cursor: pointer;
}